.breadcrumb li {
  display: inline;
}
.breadcrumb li.location + li.location::before {
  content: ">";
}
.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:hover {
  color: gray;
}

.breadcrumb li.attribute::after {
  content: "x";
}
